
	<section class="blog-posts-area section-gap">
		<div class="container">
			<!-- Filter with catergory -->
			<div class="single-widget search-widget">
				<!-- dropdown to select all available catergories -->
				  <select  ngModel 
				  name="language" 
				  id="language"
				  class="form-control"
				  type="text" id="sel1">
					<option style="background-color: #843635 !important;" >Filter With Catergory </option>
				  </select>
				  <!-- end of dropdown -->
				  <hr>
				<!-- filter products based on a category -->
				<table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">SupplierID</th>
                        <th scope="col">CatergoryID</th>
                        <th scope="col">QuantityPerUnit</th>
                        <th scope="col">UnitPrice</th>
                        <th scope="col">UnitsInStock</th>
                        <th scope="col">UnitsOnOrder</th>
                        <th scope="col">ReorderLevel</th>
                        <th scope="col">Discountinued</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                      </tr>
                    </tbody>
                  </table>
				<!-- End of products -->

			</div>
			  <!-- End of filter -->


			